#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ECFF00;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#menu li {
    float: left;
}
#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    margin: 0px 65px;
    font-size: 20px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-decoration: none;
}
#menu li a:hover {
    background-color:#10AAFF;
}

h2.category-ep-title {
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    padding-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #00CCCC;
    text-transform: uppercase;
}
a.category-ep-link {
    text-decoration: none;
}
a.category-ep-link:hover {
    color: #ECFF00;
}
div.excerpt {
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    padding-bottom: 40px;
}
a.readmore {
    color: #00CCCC;
    text-decoration: none;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-transform: uppercase;
    margin-left: 315px;
    
}
a.readmore:hover {
    color: #00CCCC;
    cursor: pointer;
}
div.excerpt-hidden {
    display: none;
}

section.user-posts-list{
    width: 80%;
}

.posts-container-short{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Georgia, serif;
    padding-bottom: 0px;
    max-height: 117px;
    overflow: hidden;
}
.posts-container-long{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Georgia, serif;
    padding-bottom: 0px;
}
.logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 0px;
}
.menurow {
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
    background-color: #00CCCC;
    overflow: hidden;
}
.menuitem {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    margin: 0px 88px;
    font-size: 20px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}
.menuitem:hover{
    cursor: pointer;
}
.page-content {
    background-color: #f5f5f5
}
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px
}
.signin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    background-color:#00CCCC;
    color: white;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 40px;
}
.logbutton {
    position: relative;
    width: 200px;
    height:60px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    color: #00B2B2;
    background-color: #f5f5f5
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login {
    background-color: #00B2B2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    color: white;
    margin: 8px 0;
    border: #f44336;
    cursor: pointer;
    width: 100px;
    padding: 10px 18px;
    background-color: #f44336;
    float: left;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 60%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    border-radius: 0px 0px 15px 15px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
}

/* The Close Button (x) */
.close {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.signup {
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 10px 18px;
    background-color: #00B2B2;
    position: relative;
    left: 80px;
}
.label {
    color: black;
    float: left;
    font-size: medium;
}