#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ECFF00;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#menu li {
    float: left;
}
#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    margin: 0px 65px;
    font-size: 20px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-decoration: none;
}
#menu li a:hover {
    background-color:#10AAFF;
}

h2.category-ep-title {
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    padding-top: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #00CCCC;
    text-transform: uppercase;
}
a.category-ep-link {
    text-decoration: none;
}
a.category-ep-link:hover {
    color: #ECFF00;
}
div.excerpt {
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    padding-bottom: 40px;
}
a.readmore {
    color: #00CCCC;
    text-decoration: none;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-transform: uppercase;
    margin-left: 315px;
    
}
a.readmore:hover {
    color: #00CCCC;
}
div.excerpt-hidden {
    display: none;
}

section.user-posts-list{
    width: 80%;
}

.posts-container-short{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Georgia, serif;
    padding-bottom: 0px;
    max-height: 117px;
    overflow: hidden;
}
.posts-container-long{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Georgia, serif;
    padding-bottom: 0px;
}
.logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 0px;
}
.menurow {
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
    background-color: #00CCCC;
    overflow: hidden;
}
.menuitem {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    margin: 0px 88px;
    font-size: 20px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}
.page-content {
    background-color: #f5f5f5
}
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px
}
.fb-login-button {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
}